.cardsize {
	height: 50%;
}

.padding {
	padding-left: : 15px;
	padding-right: 30px;
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
        color: white;
    }

@media screen and (max-width: 768px) {
    body {
        background-color: red;
        color: white;
    }
}